<li class="nav-item">
    <form class="form-inline my-2 my-lg-0 mr-lg-2" action="../@ViewContext.RouteData.Values["controller"]/Index" method="GET">
        <div class="input-group">
        <input class="form-control" type="text" placeholder="Search for..." name="SearchString" value="@ViewData["SearchString"]">
        <span class="input-group-append">
            <button class="btn btn-primary" type="submit" >
                <i class="fa fa-search"></i>
            </button>
        </span>
        </div>
    </form>
</li>