@model DMSSample.Models.NameData

@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
    ViewData["Title"] = "Details";
}
<div class="card card-register mx-auto mt-5">
    <div class="card-header">Name Data Details</div>
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NameType)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NameType)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>
    <div class="text-center">
        <a asp-action="Index" class="btn btn-secondary">Back To List</a>
    </div>
    <p></p>
<div>