@{
    ViewData["Title"] = "Index";
}

<!-- Icon Cards-->
<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3" id="cardNameData">
        <div class="card text-white bg-dark o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="mr-5"><b>Names Data </b><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Primary</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <div class="mr-5"><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Replica</div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3" id="cardPerson">
        <div class="card text-white bg-dark o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="mr-5"><b>Persons </b><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Primary</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <div class="mr-5"><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Replica</div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3" id="cardPlayer">
        <div class="card text-white bg-dark o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="mr-5"><b>Players </b><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Primary</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <div class="mr-5"><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Replica</div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3" id="cardSeat">
        <div class="card text-white bg-dark o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="mr-5"><b>Seats </b><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Primary</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <div class="mr-5"><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Replica</div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3" id="cardSeatType">
        <div class="card text-white bg-dark o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="mr-5"><b>Seat Types </b><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Primary</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <div class="mr-5"><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Replica</div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3" id="cardSportDivision">
        <div class="card text-white bg-dark o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="mr-5"><b>Divisions </b><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Primary</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <div class="mr-5"><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Replica</div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3" id="cardSportingEvent">
        <div class="card text-white bg-dark o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="mr-5"><b>Events </b><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Primary</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <div class="mr-5"><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Replica</div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3" id="cardSportingEventTicket">
        <div class="card text-white bg-dark o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="mr-5"><b>Tickets </b><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Primary</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <div class="mr-5"><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Replica</div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3" id="cardSportLeague">
        <div class="card text-white bg-dark o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="mr-5"><b>Leagues </b><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Primary</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <div class="mr-5"><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Replica</div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3" id="cardSportLocation">
        <div class="card text-white bg-dark o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="mr-5"><b>Locations </b><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Primary</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <div class="mr-5"><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Replica</div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3" id="cardSportTeam">
        <div class="card text-white bg-dark o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="mr-5"><b>Teams </b><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Primary</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <div class="mr-5"><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Replica</div>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3" id="cardSportType">
        <div class="card text-white bg-dark o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="mr-5"><b>Sports </b><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Primary</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <div class="mr-5"><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Replica</div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3" id="cardTicketPurchaseHist">
        <div class="card text-white bg-dark o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="mr-5"><b>Purchase History </b><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Primary</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <div class="mr-5"><i class="fa fa-refresh fa-spin"></i></div>
                <div class="mr-5">Record(s) on Replica</div>
            </a>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function (){
            $.ajax({
                type: "GET",
                url: "/Report/NameDataCount",
                dataType: "html", 
                success: function(response){
                    $('#cardNameData').html(response);
                }
            });
            $.ajax({
                type: "GET",
                url: "/Report/PersonCount",
                dataType: "html", 
                success: function(response){
                    $('#cardPerson').html(response);
                }
            });
            $.ajax({
                type: "GET",
                url: "/Report/PlayerCount",
                dataType: "html", 
                success: function(response){
                    $('#cardPlayer').html(response);
                }
            });
            $.ajax({
                type: "GET",
                url: "/Report/SeatCount",
                dataType: "html", 
                success: function(response){
                    $('#cardSeat').html(response);
                }
            });
             $.ajax({
                type: "GET",
                url: "/Report/SeatTypeCount",
                dataType: "html", 
                success: function(response){
                    $('#cardSeatType').html(response);
                }
            });
             $.ajax({
                type: "GET",
                url: "/Report/SportDivisionCount",
                dataType: "html", 
                success: function(response){
                    $('#cardSportDivision').html(response);
                }
            });
             $.ajax({
                type: "GET",
                url: "/Report/SportingEventCount",
                dataType: "html", 
                success: function(response){
                    $('#cardSportingEvent').html(response);
                }
            });
             $.ajax({
                type: "GET",
                url: "/Report/SportingEventTicketCount",
                dataType: "html", 
                success: function(response){
                    $('#cardSportingEventTicket').html(response);
                }
            });
            $.ajax({
                type: "GET",
                url: "/Report/SportLeagueCount",
                dataType: "html", 
                success: function(response){
                    $('#cardSportLeague').html(response);
                }
            });
            $.ajax({
                type: "GET",
                url: "/Report/SportLocationCount",
                dataType: "html", 
                success: function(response){
                    $('#cardSportLocation').html(response);
                }
            });
            $.ajax({
                type: "GET",
                url: "/Report/SportTeamCount",
                dataType: "html", 
                success: function(response){
                    $('#cardSportTeam').html(response);
                }
            });
            $.ajax({
                type: "GET",
                url: "/Report/SportTypeCount",
                dataType: "html", 
                success: function(response){
                    $('#cardSportType').html(response);
                }
            });
            $.ajax({
                type: "GET",
                url: "/Report/TicketPurchaseHistCount",
                dataType: "html", 
                success: function(response){
                    $('#cardTicketPurchaseHist').html(response);
                }
            });
        })
    </script>
}