@model DMSSample.Models.TicketPurchaseHist

@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
    ViewData["Title"] = "Create";
}

<div class="card card-register mx-auto mt-5">
    <div class="card-header">Create a Ticket Purchase History Entry</div>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <label asp-for="SportingEventTicketId" class="control-label"></label>
                        <select asp-for="SportingEventTicketId" class ="form-control" asp-items="ViewBag.SportingEventTicketId"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <label asp-for="PurchasedById" class="control-label"></label>
                        <select asp-for="PurchasedById" class ="form-control" asp-items="ViewBag.PurchasedById"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <label asp-for="TransactionDateTime" class="control-label"></label>
                        <input asp-for="TransactionDateTime" class="form-control" />
                        <span asp-validation-for="TransactionDateTime" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <label asp-for="TransferredFromId" class="control-label"></label>
                        <select asp-for="TransferredFromId" class ="form-control" asp-items="ViewBag.TransferredFromId"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <label asp-for="PurchasePrice" class="control-label"></label>
                        <input asp-for="PurchasePrice" class="form-control" />
                        <span asp-validation-for="PurchasePrice" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <input type="submit" value="Create" class="btn btn-info" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
