@model DMSSample.Models.TicketPurchaseHist

@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
    ViewData["Title"] = "Edit";
}

<div class="card card-register mx-auto mt-5">
    <div class="card-header">Edit a Ticket Purchase History</div>
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SportingEventTicketId" />
            <input type="hidden" asp-for="PurchasedById" />
            <input type="hidden" asp-for="TransactionDateTime" />
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <label asp-for="TransferredFromId" class="control-label"></label>
                        <select asp-for="TransferredFromId" class="form-control" asp-items="ViewBag.TransferredFromId"></select>
                        <span asp-validation-for="TransferredFromId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <label asp-for="PurchasePrice" class="control-label"></label>
                        <input asp-for="PurchasePrice" class="form-control" />
                        <span asp-validation-for="PurchasePrice" class="text-danger"></span>
                    </div>
                </div>
            </div>
             <div class="text-center">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back To List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
