@model PaginatedList<DMSSample.Models.SportLeague>

@{
    ViewData["Title"] = "Sport Leagues";
}
<input type="hidden" id="searchString" value="@ViewData["SearchString"]"/>
<input type="hidden" id="sortOrder"/>
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Sport Leagues List
        | <a asp-action="Create" class="btn btn-outline-info rounded-circle la-button-sm" title="Create New"><i class="fa fa-plus la-icon-add"></i></a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            <a href="#" action="/SportLeague/SearchList" sort-order="league_name" sort-direction="">Name</a>
                        </th>
                        <th>
                            <a href="#" action="/SportLeague/SearchList" sort-order="description" sort-direction="">Description</a>
                        </th>
                        <th>
                            <a href="#" action="/SportLeague/SearchList" sort-order="sport_type" sort-direction="">Sport</a>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tableContents" action-data="/SportLeague/SearchList">
                    <tr>
                        <td colspan="4" class="text-center">
                            <i class="fa fa-refresh fa-spin" style="font-size:24px"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="~/js/site.list.js" asp-append-version="true"></script>
</div>